<!DOCTYPE html>
<html lang="en">

<head>
    {{>headerlinks}}
</head>

<body>

    {{>navbar}}

    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">

                    <!-- right div -->
                    <div class="col-md-12 col-12 main_header_left align-items-center">
                        <figure>
                            <img src="img/404 Error Page not Found with people connecting a plug-amico.png" alt=""
                                class="img-fluid" style="width: 50rem; height:45rem",>
                        </figure>
                    
                        <p>welcome to sarfaraz : the full stack developer</p>
                        <h1>{{errorMsg}}
                        </h1>

                        <a href="/"> <button>go back</button></a>

                    </div>


                </div>
            </div>
        </div>
    </div>

    {{>footer}}
</body>

</html>