<!DOCTYPE html>
<html lang="en">

<head>
  {{>headerlinks}}
</head>

<body>

{{>navbar}}

    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">

                     <!-- right div -->
                     <div class="col-md-6 col-12 main_header_right align-items-center">
                        <figure>
                          <img src="img/About us page-cuate.png" alt="" class="img-fluid">
                        </figure>
                      </div>
                    <!-- left  div  -->
                    <div class="col-md-6 col-12 main_header_left ">
                        <p>welcome to sarfaraz : the full stack developer</p>
                        <h1>
                          i am a <span class="text-clr">mern stack </span>developer
                        </h1>

                      <a href="yaha apno website personal portfolio ki link daal">  <button>about me</button></a>

                    </div>

                   
                </div>
            </div>
        </div>
    </div>

 {{>footer}}
</body>

</html>